# Aula 3: Tomando Decis√µes com Python: O Poder do `if` e `else`

At√© agora, voc√™ aprendeu sobre estruturas de dados e transforma√ß√£o de dados. Nesta aula, vamos introduzir uma nova habilidade essencial: a capacidade de tomar decis√µes com base em dados usando as estruturas condicionais `if` e `else` do Python. Prepare-se para dar vida aos seus DataFrames com estruturas condicionais!

## T√≥picos Abordados:

1. Introdu√ß√£o √†s Estruturas Condicionais
2. Tomando Decis√µes com `if`
3. Tomando Decis√µes Alternativas com `else`
4. Exemplos Pr√°ticos de Uso de `if` e `else`
5. Combinando Transforma√ß√µes de Dados com Condi√ß√µes


## Introdu√ß√£o √†s Estruturas Condicionais

As estruturas condicionais permitem que voc√™ tome decis√µes com base em condi√ß√µes espec√≠ficas. Elas s√£o como bifurca√ß√µes em seu caminho, onde voc√™ pode escolher diferentes a√ß√µes com base nas circunst√¢ncias.

### Tomando Decis√µes com `if`

O `if` permite que voc√™ execute um bloco de c√≥digo somente se uma condi√ß√£o for verdadeira. Veja um exemplo:

```python
idade = 25

if idade < 30:
    print("Voc√™ √© jovem e cheio de energia!")
```

In [2]:
# digite o c√≥digo aqui

### Tomando Decis√µes Alternativas com `else`

√Äs vezes, voc√™ deseja executar um bloco de c√≥digo se a condi√ß√£o n√£o for verdadeira. O `else` √© perfeito para isso:

```python
idade = 35

if idade < 30:
    print("Voc√™ √© jovem e cheio de energia!")
else:
    print("Voc√™ est√° na flor da idade!")
```

In [3]:
# digite o c## Exemplos Pr√°ticos de Uso de `if` e `else`√≥digo aqui

## Exemplos Pr√°ticos de Uso de `if` e `else`

In [4]:
import pandas as pd

data = {'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Idade': [25, 30, 35, 40, 45]}

df = pd.DataFrame(data)

# Adicione uma nova coluna 'Grupo Et√°rio' com base na idade
df['Grupo Et√°rio'] = ''

for index, row in df.iterrows():
    if row['Idade'] < 30:
        df.at[index, 'Grupo Et√°rio'] = 'Jovem'
    else:
        df.at[index, 'Grupo Et√°rio'] = 'Experiente'

# Exibir o DataFrame com a nova coluna
df

    Nome  Idade Grupo Et√°rio
0  Alice     25        Jovem
1    Bob     30   Experiente
2  Carol     35   Experiente
3  David     40   Experiente
4    Eve     45   Experiente

Agora que voc√™ aprendeu a tomar decis√µes com `if` e `else`, sua capacidade de transformar dados √© ainda mais poderosa. Pratique esses feiti√ßos em seus pr√≥prios DataFrames e veja como eles podem ajud√°-lo a revelar informa√ß√µes interessantes. üßô‚Äç‚ôÇÔ∏èüìäüöÄ

# Exerc√≠cio em Grupo:

**Gerenciamento de Clientes em uma Empresa de E-commerce**

Voc√™ foi designado para gerenciar uma lista de clientes de uma empresa de e-commerce. A empresa deseja manter informa√ß√µes detalhadas sobre seus clientes, incluindo o valor arrecadado, a situa√ß√£o de pagamento e o produto mais comprado por cada cliente.

Sua tarefa √© criar um DataFrame que represente essas informa√ß√µes. Voc√™ j√° tem uma lista de clientes, a quantidade de mensalidades pagas, o n√∫mero de inadimpl√™ncias, o valor que cada cliente arrecadou e o produto mais comprado por ele. Agora, voc√™ precisa adicionar as seguintes informa√ß√µes:

1. **DataFrame:** Transforme tudo num dataframe.
   
2. **Situa√ß√£o de Pagamento:** Com base no n√∫mero de inadimpl√™ncias, classifique os clientes como "adimplentes" se n√£o tiverem inadimpl√™ncias e "inadimplentes" se tiverem uma ou mais inadimpl√™ncias.

Crie um DataFrame que contenha todas essas informa√ß√µes e exiba o resultado final.

Observa√ß√£o: Os dados de exemplo fornecidos na tarefa podem ser usados como ponto de partida, voc√™ pode ficar livre para criar novos dados a partir dela.

## Utilizando IF e ELSE

In [25]:
# Importar a biblioteca pandas
import pandas as pd

# Criar dados de exemplo
clientes = ["Jo√£o", "Maria", "Pedro", "Ana", "Sakura", "Naruto", "Sasuke", "Mikasa", "Goku", "Vegeta", "Luffy", "Saitama", "Eren", "Minato"]
mensalidades_pagas = [12, 11, 10, 12, 9, 10, 11, 12, 8, 9, 10, 11, 10, 11]
inadimplencias = [0, 2, 1, 0, 3, 0, 2, 1, 4, 3, 2, 0, 7, 6]
valor_arrecadado = [1200, 1210, 1000, 1200, 900, 1000, 1100, 1200, 800, 900, 1000, 1100, 1000, 1100]
produto_mais_comprado = ["Camiseta", "Cal√ßa", "T√™nis", "Camiseta", "Livro", "Mang√°", "Mang√°", "Vestido", "Console", "Figura", "Chap√©u", "Cintur√£o", "Espada", "Roup√£o"]

# Criar um DataFrame
dados = {
    'clientes': clientes,
    'mensalidades_pagas': mensalidades_pagas,
    'inadimplencias': inadimplencias,
    'valor_arrecadado': valor_arrecadado,
    'produto_mais_comprado': produto_mais_comprado
    }
df = pd.DataFrame(dados)


# Classifica√ß√£o de clientes com estruturas condicionais
df['situacao'] = ""
for i in range(len(df)):
    if df['inadimplencias'][i] > 0:
        df.at[i, 'situacao'] = 'inadimplente'
    else:
        df.at[i, 'situacao'] = 'adimplente'

# Exibir o DataFrame final
df

,clientes,mensalidades_pagas,inadimplencias,valor_arrecadado,produto_mais_comprado,situacao
0,Jo√£o,12,0,1200,Camiseta,adimplente
1,Maria,11,2,1210,Cal√ßa,inadimplente
2,Pedro,10,1,1000,T√™nis,inadimplente
3,Ana,12,0,1200,Camiseta,adimplente
4,Sakura,9,3,900,Livro,inadimplente
5,Naruto,10,0,1000,Mang√°,adimplente
6,Sasuke,11,2,1100,Mang√°,inadimplente
7,Mikasa,12,1,1200,Vestido,inadimplente
8,Goku,8,4,800,Console,inadimplente
9,Vegeta,9,3,900,Figura,inadimplente
10,Luffy,10,2,1000,Chap√©u,inadimplente
11,Saitama,11,0,1100,Cintur√£o,adimplente
12,Eren,10,7,1000,Espada,inadimplente
13,Minato,11,6,1100,Roup√£o,inadimplente

## Habilidade desbloqueada: Utilizando .loc

In [24]:
import pandas as pd

clientes = ["Jo√£o", "Maria", "Pedro", "Ana", "Sakura", "Naruto", "Sasuke", "Mikasa", "Goku", "Vegeta", "Luffy", "Saitama", "Eren", "Minato"]
mensalidades_pagas = [12, 11, 10, 12, 9, 10, 11, 12, 8, 9, 10, 11, 10, 11]
inadimplencias = [0, 2, 1, 0, 3, 0, 2, 1, 4, 3, 2, 0, 7, 6]
valor_arrecadado = [1200, 1210, 1000, 1200, 900, 1000, 1100, 1200, 800, 900, 1000, 1100, 1000, 1100]
produto_mais_comprado = ["Camiseta", "Cal√ßa", "T√™nis", "Camiseta", "Livro", "Mang√°", "Mang√°", "Vestido", "Console", "Figura", "Chap√©u", "Cintur√£o", "Espada", "Roup√£o"]

dados = {
    'clientes': clientes,
    'mensalidades_pagas': mensalidades_pagas,
    'inadimplencias': inadimplencias,
    'valor_arrecadado': valor_arrecadado,
    'produto_mais_comprado': produto_mais_comprado
    }

df = pd.DataFrame(dados)

df.loc[df['inadimplencias'] > 0, 'situacao'] = 'inadimplente'
df.loc[df['inadimplencias'] == 0, 'situacao'] = 'adimplente'

df

C:\Users\victo\AppData\Local\Temp\ipykernel_10248\2353622244.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'inadimplente' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['inadimplencias'] > 0, 'situacao'] = 'inadimplente'

,clientes,mensalidades_pagas,inadimplencias,valor_arrecadado,produto_mais_comprado,situacao
0,Jo√£o,12,0,1200,Camiseta,adimplente
1,Maria,11,2,1210,Cal√ßa,inadimplente
2,Pedro,10,1,1000,T√™nis,inadimplente
3,Ana,12,0,1200,Camiseta,adimplente
4,Sakura,9,3,900,Livro,inadimplente
5,Naruto,10,0,1000,Mang√°,adimplente
6,Sasuke,11,2,1100,Mang√°,inadimplente
7,Mikasa,12,1,1200,Vestido,inadimplente
8,Goku,8,4,800,Console,inadimplente
9,Vegeta,9,3,900,Figura,inadimplente
10,Luffy,10,2,1000,Chap√©u,inadimplente
11,Saitama,11,0,1100,Cintur√£o,adimplente
12,Eren,10,7,1000,Espada,inadimplente
13,Minato,11,6,1100,Roup√£o,inadimplente

# Exerc√≠cio

**Perguntas:**

1. Qual √© o valor total arrecadado pela empresa?

In [26]:
valor_total_arrecadado = df['valor_arrecadado'].sum()
print(f"O valor total arrecadado pela empresa √© R$ {valor_total_arrecadado:.2f}")

O valor total arrecadado pela empresa √© R$ 14710.00

2. Quantos clientes est√£o em situa√ß√£o de inadimpl√™ncia?

In [27]:
clientes_inadimplentes = df[df['situacao'] == 'inadimplente']
quantidade_inadimplentes = len(clientes_inadimplentes)
print(f"H√° {quantidade_inadimplentes} clientes em situa√ß√£o de inadimpl√™ncia.")

H√° 10 clientes em situa√ß√£o de inadimpl√™ncia.

3. Qual √© o produto mais comprado pelos clientes adimplentes?

In [28]:
clientes_adimplentes = df[df['situacao'] == 'adimplente']
produto_mais_comprado_adimplentes = clientes_adimplentes['produto_mais_comprado'].mode()[0]
print(f"O produto mais comprado pelos clientes adimplentes √©: {produto_mais_comprado_adimplentes}")

O produto mais comprado pelos clientes adimplentes √©: Camiseta

4. Qual √© o cliente com o maior n√∫mero de inadimpl√™ncias?

In [30]:
cliente_maior_inadimplencia = df[df['inadimplencias'] == df['inadimplencias'].max()]['clientes'].values[0]
maior_inadimplencia = df['inadimplencias'].max()
print(f"O cliente com o maior n√∫mero de inadimpl√™ncias √© {cliente_maior_inadimplencia} com {maior_inadimplencia} inadimpl√™ncias.")

O cliente com o maior n√∫mero de inadimpl√™ncias √© Eren com 7 inadimpl√™ncias.

5. Qual √© a m√©dia de mensalidades pagas pelos clientes?

In [31]:
media_mensalidades_pagas = df['mensalidades_pagas'].mean()
print(f"A m√©dia de mensalidades pagas pelos clientes √© {media_mensalidades_pagas:.2f}")

A m√©dia de mensalidades pagas pelos clientes √© 10.43

6. Qual √© o valor m√©dio arrecadado pela empresa por cliente adimplente?

In [32]:
valor_medio_arrecadado_adimplentes = clientes_adimplentes['valor_arrecadado'].mean()
print(f"O valor m√©dio arrecadado pela empresa por cliente adimplente √© R$ {valor_medio_arrecadado_adimplentes:.2f}")

O valor m√©dio arrecadado pela empresa por cliente adimplente √© R$ 1125.00

# Curiosidades

Avan√ßado: Fun√ß√µes Lambda

## Avan√ßado: Fun√ß√µes Lambda

Agora, vamos dar uma olhada em fun√ß√µes lambda em Python e como voc√™ pode us√°-las para opera√ß√µes simples em DataFrames. As fun√ß√µes lambda s√£o fun√ß√µes an√¥nimas que podem ser definidas em uma √∫nica linha.

### Exemplo de Fun√ß√£o Lambda Simples

Antes de explorar as fun√ß√µes lambda com DataFrames, vamos dar uma olhada em um exemplo simples. Uma fun√ß√£o lambda √© uma fun√ß√£o an√¥nima que pode ser usada para executar opera√ß√µes r√°pidas. Aqui est√° um exemplo de uma fun√ß√£o lambda que adiciona dois n√∫meros:

In [46]:
numero = int(input("Digite um n√∫mero: "))  # Solicita um n√∫mero ao usu√°rio

double = lambda x: x * 2
resultado = double(numero)
print(f"{numero} duplicado √© igual a {resultado}")

5 duplicado √© igual a 10

In [47]:
add = lambda x, y: x + y
resultado = add(5, 3)
print("5 + 3 =", resultado)

5 + 3 = 8

## Avan√ßado: Fun√ß√µes Lambda

Agora, vamos dar uma olhada em fun√ß√µes lambda em Python e como voc√™ pode us√°-las para opera√ß√µes simples em DataFrames. As fun√ß√µes lambda s√£o fun√ß√µes an√¥nimas que podem ser definidas em uma √∫nica linha.

Suponha que voc√™ tenha um DataFrame chamado `df` e deseja criar uma coluna chamada 'situacao' com base na coluna 'inadimplencias'. Voc√™ pode usar a fun√ß√£o `apply` em combina√ß√£o com uma fun√ß√£o lambda para fazer isso.

Aqui est√° o c√≥digo:

```python
# Usar a fun√ß√£o apply para criar a coluna 'situacao'
df['situacao'] = df['inadimplencias'].apply(lambda x: 'inadimplente' if x > 0 else 'adimplente')
```

Neste c√≥digo, usamos a fun√ß√£o `apply` para aplicar uma fun√ß√£o lambda a cada valor na coluna 'inadimplencias'. A fun√ß√£o lambda verifica se o valor √© maior que zero e, se for verdade, atribui 'inadimplente' √† nova coluna 'situacao', caso contr√°rio, atribui 'adimplente'.

O DataFrame resultante ter√° uma nova coluna 'situacao' que classifica cada entrada como 'inadimplente' ou 'adimplente' com base nas inadimpl√™ncias.

Isso √© apenas um exemplo de como as fun√ß√µes lambda podem ser usadas em DataFrames para realizar tarefas simples e r√°pidas.

Espero que essas explica√ß√µes tenham ajudado a tornar o seu notebook mais did√°tico e informativo.
```

In [48]:
clientes = ["Jo√£o", "Maria", "Pedro", "Ana", "Sakura", "Naruto", "Sasuke", "Mikasa", "Goku", "Vegeta", "Luffy", "Saitama", "Eren", "Minato"]
mensalidades_pagas = [12, 11, 10, 12, 9, 10, 11, 12, 8, 9, 10, 11, 10, 11]
inadimplencias = [0, 2, 1, 0, 3, 0, 2, 1, 4, 3, 2, 0, 7, 6]
valor_arrecadado = [1200, 1210, 1000, 1200, 900, 1000, 1100, 1200, 800, 900, 1000, 1100, 1000, 1100]
produto_mais_comprado = ["Camiseta", "Cal√ßa", "T√™nis", "Camiseta", "Livro", "Mang√°", "Mang√°", "Vestido", "Console", "Figura", "Chap√©u", "Cintur√£o", "Espada", "Roup√£o"]

dados = {
    'clientes': clientes,
    'mensalidades_pagas': mensalidades_pagas,
    'inadimplencias': inadimplencias,
    'valor_arrecadado': valor_arrecadado,
    'produto_mais_comprado': produto_mais_comprado
    }

df = pd.DataFrame(dados)

In [49]:
# Usar a fun√ß√£o apply para criar a coluna 'SITUA√á√ÉO'
df['situacao'] = df['inadimplencias'].apply(lambda x: 'inadimplente' if x > 0 else 'adimplente')
df

,clientes,mensalidades_pagas,inadimplencias,valor_arrecadado,produto_mais_comprado,situacao
0,Jo√£o,12,0,1200,Camiseta,adimplente
1,Maria,11,2,1210,Cal√ßa,inadimplente
2,Pedro,10,1,1000,T√™nis,inadimplente
3,Ana,12,0,1200,Camiseta,adimplente
4,Sakura,9,3,900,Livro,inadimplente
5,Naruto,10,0,1000,Mang√°,adimplente
6,Sasuke,11,2,1100,Mang√°,inadimplente
7,Mikasa,12,1,1200,Vestido,inadimplente
8,Goku,8,4,800,Console,inadimplente
9,Vegeta,9,3,900,Figura,inadimplente
10,Luffy,10,2,1000,Chap√©u,inadimplente
11,Saitama,11,0,1100,Cintur√£o,adimplente
12,Eren,10,7,1000,Espada,inadimplente
13,Minato,11,6,1100,Roup√£o,inadimplente